%p ShrtQuiz enables you to create small multiple choice quizzes.
The quizzes are designed to be viewed on any smartphone and we provide
short urls for easy sharing at talks or in tweets. Best of all it's
completely free!

%p Create your ShrtQuiz
= link_to "Now", new_quiz_path
